{# -------------------- Barre de navigation ------------------- #}
<header class="sticky-top">
	<nav class="row py-3 m-0">
		<div class="col-3 d-flex align-items-center justify-content-center ">
			<a class="brand" href="{{ path('shop-home') }}">Vesoul Edition<span class="pl-1">.</span>
			</a>
		</div>

		{# ======== Recherche ========#}
		<form class="form-inline col-6 d-flex justify-content-center form-search">
			<input class="form-control search-bar text-center m-0" type="search" placeholder="Rechercher votre livre !" aria-label="Search">
			<button class="btn btn-search btn-info m-0" type="button">
				<i class="fas fa-search"></i>
			</button>
		</form>

		{# ======== Connexion ========#}
		<div class="col-3 d-flex align-items-center justify-content-center">
			<div class="d-flex align-items-center justify-content-end">
            
                <a href="{{ path('client_edit', {'id': client.id }) }}" class="">

				{% if not app.user %}
					<a class="m-0 pr-3" href="{{ path('client_login') }}">Connexion</a>
				{% else %}
					<a class="m-0 pr-3" href="{{ path('client_logout') }}">Deconnexion<a>
				{% endif %}
					

		        {# ======== Panier ========#}
                <div class="d-flex align-items-center justify-content-center px-3">
                    <a href="panier" class="d-flex flex-column justify-content-center">
                        <div>
                            <i class="fas fa-shopping-cart"></i>
                            <span id="nb-items" class="badge badge-pill badge-warning">
                                {{ app.session.get('panier') | length}}
                            </span>
                        </div>
                        <p class="m-0">panier</p>
                    </a>
                </div>
            </div>
        </div>
	</nav>




    {# ----------------- Bandeau d'informations ------------------ #}
    <div class="banner py-2">
        <div class="container">
            <div class="row">
                {# ======== Livraison ========#}
                <div class="col-4 d-flex justify-content-center align-items-center">
                    <i class="fas fa-truck m-3"></i>
                    <div class="d-flex flex-column">
                        <h3 class="m-0">Livraison gratuite</h3>
                        <p class="m-0">Partout en Franche-Comté</p>
                    </div>
                </div>

                {# ======== Contacts ========#}
                <div class="col-4 d-flex  justify-content-center align-items-center">
                    <i class="fas fa-phone m-3"></i>
                    <div class="d-flex flex-column">
                        <h3 class="m-0">contactez moi</h3>
                        <p class="m-0">06 99 65 86 00</p>
                    </div>
                </div>

                {# ======== Paiement ========#}
                <div class="col-4 d-flex justify-content-end align-items-center">
                    <i class="fas fa-money-check-alt m-3"></i>
                    <div class="d-flex flex-column">
                        <h3 class="m-0">paiement par cheque</h3>
                        <p class="m-0">Commande expédié
                            <span>dès réception</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
