{% extends '/base.html.twig' %}

{% block title %}
	{{ page_title }}
{% endblock %}

{% block content %}
	<section id="index">
		<div class="row p-3">

			{% include "includes/filterbar.html.twig" %}

			{# Partie Livres ======================================= #}
			<div class="row">
				<div
					id="book-collection" class="col-12 m-0 p-0 pl-5 d-flex flex-wrap justify-content-left">

					{# --- Génération de livre--- #}
					{% if books is defined %}
						{% if books | length > 0 %}
							{% for book in books %}
								<div class="m-0 p-2">
									<div class="book-card">
										<div class="photo">
											<img class="book-pic" src="{{book.images}}" alt="image du livre">
											<div class="overlay d-flex justify-content-center  align-items-center">
												<a href="product/{{book.id}}">
													<button class="btn btn-info p-2">Details</button>
												</a>
											</div>
										</div>
										<div class="info p-2 d-flex flex-column justify-content-between">
											<h3 class="m-0">{{book.title}}</h3>
											<div class="d-flex justify-content-between w-100">
												<p class="m-0">{{book.year}}</p>
											</div>
											<div class="row">
												<div class="col-4 d-flex align-items-center">
													<p class="m-0 pl-2" id="price">
														<span>{{book.price}}</span>€</p>
												</div>
												<div class="col-8 d-flex justify-content-end">
													<a href="{{ path('addItem',{ 'id':book.id }) }}">
														<button class="btn btn-info">Ajouter<i class="fas fa-shopping-cart"></i>
														</button>
													</a>
												</div>
											</div>
										</div>
									</div>
								</div>
							{% endfor %}
						{% else %}
							<p class="p-4 mt-2 alert alert-dark">
								Aucun livre ne correspond à votre recherche.
								<span class="font-italic">Modifier vos mots-clés</span>
								et
								<span class="font-weight-bold">rechercher à nouveau</span>
								ou cliquez sur le lien
								<span class="font-weight-bold">'Afficher tous les livres'.</span>
							</p>
							<p class="w-100">
								<a href="/" class="btn btn-info btn-lg btn-block">Afficher tous les livres</a>
							</p>
						{% endif %}
					{% endif %}
				</div>
				<div class="loader book">
					<figure class="page"></figure>
					<figure class="page"></figure>
					<figure class="page"></figure>
				</div>
			</div>
		</div>
	</div>
</section>{% endblock %}
