{% extends '/extends/shopBase.html.twig' %}

{% block title %}
	{{ book.title }}
{% endblock %}

{% block content %}
	<div id="product-page" class="m-0 p-0">
			<div class="row p-5 justify-content-between">

				{# ==> Section gauche avec les images ======================================== #}
				<div id="preview-section" class="col-4 p-0 d-flex align-items-end d-flex flex-column">

					{# ---------- Image principale ---------- #}
					<img id="preview-img" src="{{ asset('img/' ~ book.image ) }}" alt="livre">

					{# ---------- Carousel ----------- #}
					<div id="preview-small-section" class="d-flex align-items-center justify-content-between pt-2">
						{# <button>
							<i class="fas fa-chevron-left fa-2x"></i>
						</button>
						<img class="preview-small" src="{{book.image}}" alt="livre">
						<img class="preview-small" src="{{book.image}}" alt="livre">
						<img class="preview-small" src="{{book.image}}" alt="livre">
						<button>
							<i class="fas fa-chevron-right fa-2x"></i>
						</button> #}
					</div>
				</div>

				{# ==> Section de droite informations ======================================== #}
				<div id="detail-section" class="col-8 px-5">

					{# the book's title  #}
					<h2 class="pb-2"> {{book.title}} </h2>

					{# the book's author  #}
					<h3 class="py-2">(Auteur)</h3>

					{# category of the book  #}
					<h4 class="py-2">Genre : 
						{% for category in book.categories %}

							{{ category.name }}

							{% if not loop.last %}
							,
							{% elseif loop.last %}
							.
							{% endif %}
							
						{% endfor %}
					</h4>

					{# For stock informations  #}
					<div class="d-flex align-items-center py-2">

						{% if book.stock >= 10 %}
							<div id="stock-circle" class="mr-3"></div>
							<p class="stock m-0">en stock</p>

						{% elseif book.stock < 10 and book.stock > 0 %}
							<div id="limit-stock-circle" class="mr-3"></div>
							<p class="limit-stock m-0">plus que {{ book.stock }} disponibles !</p>

						{% else %}
							<div id="no-stock-circle" class="mr-3"></div>
							<p class="no-stock m-0">Actuellement indisponible !</p>

						{% endif %}

					</div>
					
					{# book descrption  #}
					<p class="py-2">{{book.description}}</p>

					<div class="d-flex col-6 justify-content-between p-0">

						{# Année de sortie #}
						<p class="legend">Année : <span class="text-dark font-weight-bold"> {{book.year}} </span> </p>
						
						{# code ISBN #}
						<p class="legend">Code ISBN : <span class="text-dark font-weight-bold"> {{book.isbn}} </span </p>	

					</div>

					{# Price of book #}
					<div class="d-flex justify-content-between py-2">
						<div class="d-flex align-items-center">
							<p class="legend pr-2">Prix publique : </p>
							<p id="price"> {{book.price}}€ </p>
						</div>
					</div>
					
					{# Button for Add to cart #}
					<div class="d-flex align-items-center py-2">
						{# <button class="btn-quantity btn btn-light d-flex justify-content-center align-items-center">-</button> #}
						<a href="{{ path('cart_add', {'id': book.id }) }}" type="button" class="btn btn-info d-flex">
							<i class="fas fa-shopping-cart fa-2x pr-2"></i>
							Ajouter au panier
						</a>
						{# <button class="btn-quantity btn btn-info d-flex justify-content-center align-items-center product-details-add">+</button> #}
					</div>
				</div>


				

                

					<section class="avis">
						<h1> voir les {{ book.avis | length }} avis clients ! </h1> 
						{% for avis in book.avis %}
							<div class="un-avis">
								<div class="row">
									<div class="col-3">
										{{ avis.client }} ( 
											<small>
												{{ avis.createdAt | date('d/m/Y à H:i') }} 
											</small> )
									</div>

									<div class="col">
										{{ avis.content | raw }}
									</div>
								</div>
							</div>
						{% endfor %}


						{# Send your comment !  #}
						{% if app.user %}
							
							{{ form_start(formAvis) }}

							{{ form_row(formAvis.client, {
								'attr' : {'placeholder': 'votre nom'}
								})
							}}

							{{ form_row(formAvis.content, {
								'attr' : {'placeholder': 'votre avis'}
								})
							}}

							{{ form_row(formAvis.note, {
								'attr' : {'placeholder': 'votre note'}
								})
							}}

							<button type="submit" class="btn btn-success"> Donner mon avis </button>

							{{ form_end(formAvis) }}
							
						{% else %}

							<h2> Vous ne pouvez pas donner votre avis si vous n'êtes pas connecté </h2>
							<a href="{{ path('client_login') }}" class="btn btn-primary"> Se connecter !</a>
							
						{% endif %}
					</section>

				</div>
			</div>
		</div>
</div>
{% endblock %}
